$color: red;

ul {
    font-size: 20px;
    color: $color;
}

ol {
    font-size: 15px;
    color: $color;
} 

div {
    font-size: 18px;

    p {
        color: $color;
    }

    ul {
        color: blue
    }
}